  <mat-table class="lessons-table mat-elevation-z8 container" [dataSource]="dataSource">
  <div class="container">
    <ng-container matColumnDef="id">
        <div class="with-2" *matHeaderCellDef>id</div>
        <div class="with-2" *matCellDef="let client">{{client.id}}</div>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
        <div class="with-10" *matHeaderCellDef>Nombre</div>
        <div class="with-10" *matCellDef="let client">{{client.nombre}}</div>
    </ng-container>

    <ng-container matColumnDef="apellidoPaterno">
        <div class="with-10" mat-header-cell *matHeaderCellDef> Apellido paterno </div>
        <div class="with-10" mat-cell *matCellDef="let client"> {{client.apellidoPaterno}} </div>
    </ng-container>
  
    <ng-container matColumnDef="ingresos">
      <div class="with-10" mat-header-cell *matHeaderCellDef> Ingresos </div>
      <div class="with-10" mat-cell *matCellDef="let client"> {{client.ingresos | currency }} </div>
    </ng-container>
  
    <ng-container matColumnDef="fechaNacimiento">
      <div class="with-10" mat-header-cell *matHeaderCellDef> Fecha Nacimiento</div>
      <div  class="with-10" mat-cell *matCellDef="let client"> {{client.fechaNacimiento | date:"yyyy/MM/dd"  }} </div>
    </ng-container>
  
    <ng-container matColumnDef="Edit">
      <div class="with-2" mat-header-cell *matHeaderCellDef> Editar </div>
      <div mat-cell *matCellDef="let client" class="action-link with-2"> 
        <a routerLink="/editar/{{client.id}}" >Edit</a>
      </div>
    </ng-container>
  
    <ng-container matColumnDef="Delete">
      <div class="with-2" mat-header-cell *matHeaderCellDef> Eliminar </div>
      <div mat-cell *matCellDef="let element" class="action-link with-2">
        <a (click)="openDialog('Delete',element)">Delete</a>  
      </div>
    </ng-container>
  </div>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    
  </mat-table>

  <div id="ct1">
    <div>
      <a mat-raised-button routerLink="/editar">Agregar nuevo usuario</a>
    </div>

    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar usuario">
      </mat-form-field>
    </div>
  </div>
  