<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput [(ngModel)]="name"  placeholder="Nombre" formControlName="name">
   <!--  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter name
    </mat-error> -->
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="lastName"  placeholder="Apellido Paterno" formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="lastMother"  placeholder="Apellido Materno" formControlName="lastMother">
  </mat-form-field>

  <mat-form-field>
    <input matInput disabled [(ngModel)]="id" placeholder="id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingresos"   [(ngModel)]="salary" type="number" class="example-right-align" formControlName="salary">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="postalCode"   placeholder="Codigo Postal" formControlName="postalCode">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker"  [(ngModel)]="fecha" placeholder="Fecha de Nacimiento" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> 

  <button mat-stroked-button color="primary"  [disabled]="!form.valid" (click)="saveOrUpdated()">Aceptar</button>
  <button mat-stroked-button color="accent" routerLink="/">Cancelar</button>
</form>

  